body {
  background-color: #FFE3C9;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box; }

#nav {
  background-color: #670d0f; }
  #nav ul li a {
    text-decoration: none;
    font-size: 3em;
    color: #ffc0cb;
    font-family: "DejaVu Sans"; }
  #nav ul li {
    margin: 1em; }
  #nav li ul a {
    font-size: 2em; }
  #nav li:hover ul {
    background-color: black; }

#contenedor {
  display: grid;
  grid-template-columns: 1fr; }

.nosotros {
  margin-top: 1em;
  text-align: center;
  color: #F01945;
  font-weight: 600;
  font-size: 4em;
  font-family: "DejaVu Sans"; }

.indexp1 {
  margin: 1em;
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: "DejaVu Sans"; }

.indexImg {
  width: 100%;
  margin-top: 0.6em; }

.indexImgIcon {
  width: 10vw; }

.mobileNone {
  display: none; }

.div1 {
  text-align: center;
  margin: 1em 0;
  background-color: #F36444; }

.indexP2 {
  color: black;
  text-align: center;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif; }

/*Productos css*/
#contenedorProductos {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em; }
  #contenedorProductos figure {
    justify-self: center;
    align-self: center;
    background-color: white;
    border-radius: 2em; }

.productosH1 {
  text-align: center;
  color: #670d0f;
  margin: 1em 0;
  font-size: 4em;
  font-family: "DejaVu Sans";
  font-weight: 600; }

.encabezadoGif {
  width: 98vw;
  margin: 1em 0; }

.producImg {
  width: 80vw;
  border-radius: 0.5em; }

.subProc {
  font-size: 3em;
  font-family: "DejaVu Sans";
  color: black;
  margin: 0.5em 0 0.5em 0; }

.precProc {
  font-size: 3em;
  font-family: "DejaVu Sans";
  color: #F01945;
  margin: 0.5em 0 0.5em 0; }

/*Tortas css*/
#contenedorTortas {
  display: grid;
  grid-template-columns: 1fr; }
  #contenedorTortas figure {
    justify-self: center;
    align-self: center; }

.tortasH1 {
  text-align: center;
  color: #670d0f;
  margin: 1em 0;
  font-size: 4em;
  font-family: "DejaVu Sans";
  font-weight: 600; }

.tortasImg {
  width: 80vw;
  border-radius: 0.5em; }

.subTor {
  font-size: 3em;
  font-family: "DejaVu Sans";
  color: black;
  margin: 0.5em 0 0.5em 0; }

.precTor {
  font-size: 3em;
  font-family: "DejaVu Sans";
  color: #F36444;
  margin: 0.5em 0 0.5em 0; }

/*magdalenas css*/
#contenedorMag {
  display: grid;
  grid-template-columns: 1fr; }
  #contenedorMag figure {
    justify-self: center;
    align-self: center; }

.magH1, .ayudaH1 {
  text-align: center;
  color: #670d0f;
  margin: 1em 0;
  font-size: 5em;
  font-family: "DejaVu Sans";
  font-weight: 600; }

.magImg {
  width: 80vw;
  border-radius: 0.5em; }

.subMag {
  font-size: 3em;
  font-family: "DejaVu Sans";
  color: black;
  margin: 0.5em 0 0.5em 0; }

.precMag {
  font-size: 3em;
  font-family: "DejaVu Sans";
  color: #F36444;
  margin: 0.5em 0 0.5em 0; }

/*contactos css*/
#contenedorContac {
  display: grid;
  grid-template-columns: 1fr; }

.contactanos {
  margin: 1em 0;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-family: "DejaVu Sans";
  font-size: 4em;
  font-weight: 600; }

.contactWrapper > * {
  padding: 0.5em; }

.contactForm {
  background-color: #f04949; }

.contactForm form {
  font-family: "DejaVu Sans";
  font-size: 2em;
  color: white; }

.contactForm form input, .contactForm form textarea {
  width: 100%;
  margin: 0.8em 0;
  border: none;
  background: none;
  outline: 0;
  color: white;
  border-bottom: 0.2em solid black;
  font-size: 1.3em; }

.contactForm form button {
  width: 100%;
  margin: 0.8em 0;
  font-size: 1.6em;
  font-family: "DejaVu Sans";
  background-color: black;
  border: none;
  outline: 0;
  color: white; }

.contactInfo {
  font-size: 2em;
  font-family: "DejaVu Sans";
  color: white;
  background-color: black; }
  .contactInfo h2 {
    text-align: center;
    margin: 1em 0; }
  .contactInfo ul {
    list-style: none;
    text-align: center;
    margin: 0.2em 1.8em 0.2em 0; }

.map {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 28vh;
  margin: 1em 0; }

#contenedorAyuda {
  display: grid;
  grid-template-columns: 1fr; }

.ayudaH1 {
  color: gray; }

.subtAyuda {
  width: 80vw; }
  .subtAyuda ul li {
    list-style: none; }

.question {
  font-family: "DejaVu Sans";
  font-size: 2.5em;
  margin-top: 1em;
  color: #F36444;
  padding: 1em;
  margin: 1em 0;
  text-align: left;
  overflow-x: hidden;
  overflow-y: hidden; }

.textP2 {
  font-family: "DejaVu Sans";
  font-size: 2em;
  text-align: none;
  margin: 1em 0 1em 1em;
  color: black; }

footer {
  background-color: #670d0f;
  text-align: center;
  margin-top: 1em; }
  footer img {
    width: 12vw;
    margin: 1em 0;
    padding-right: 0.9em; }

/*Index*/
.footerH2 {
  padding-top: 0.5em;
  margin-top: 0.6em;
  color: #ffc0cb;
  font-family: "DejaVu Sans";
  font-size: 3em; }

/*Promociones*/
.productosH2 {
  padding-top: 0.5em;
  margin-top: 0.6em;
  color: #ffc0cb;
  font-family: "DejaVu Sans";
  font-size: 3em; }

/*Tortas*/
.tortasH2 {
  padding-top: 0.5em;
  margin-top: 0.6em;
  color: #ffc0cb;
  font-family: "DejaVu Sans";
  font-size: 3em; }

/*Magdalenas*/
.magdalenasH2 {
  padding-top: 0.5em;
  margin-top: 0.6em;
  color: #ffc0cb;
  font-family: "DejaVu Sans";
  font-size: 3em; }

/*Contactos*/
.contactanosH3 {
  padding-top: 0.5em;
  margin-top: 0.6em;
  color: #ffc0cb;
  font-family: "DejaVu Sans";
  font-size: 3em; }

/*Ayuda*/
.ayudaH2 {
  padding-top: 0.5em;
  margin-top: 0.6em;
  color: #ffc0cb;
  font-family: "DejaVu Sans";
  font-size: 3em; }

@media screen and (min-width: 480px) {
  #contenedor {
    display: grid;
    grid-template-columns: 1fr; }
  .nosotros {
    font-size: 4em; }
  .indexp1 {
    margin: 1em;
    font-size: 2em; }
  .indexP2 {
    font-size: 2em; }
  #contenedorProductos {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .producImg {
    width: 47vw;
    border-radius: 0.5em; }
  .subProc {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: black;
    margin: 0.5em 0.5em 0.5em; }
  .precProc {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: #F36444;
    margin: 0.5em 0.5em 0.5em; }
  #contenedorMag {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .magH1, .ayudaH1 {
    color: #F01945;
    font-size: 4em;
    font-weight: 600; }
  .magImg {
    width: 47vw;
    border-radius: 0.5em; }
  .subMag {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: black;
    margin: 0.5em 0.5em 0.5em; }
  .precMag {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: #F36444;
    margin: 0.5em 0.5em 0.5em; }
  #contenedorTortas {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .tortasImg {
    width: 47vw;
    border-radius: 0.5em; }
  .subTor {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: black;
    margin: 0.5em 0.5em 0.5em; }
  .precTor {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: #F36444;
    margin: 0.5em 0.5em 0.5em; }
  #contenedorAyuda {
    display: grid;
    grid-template-columns: 1fr; }
  .ayudaH1 {
    color: gray; }
  .subtAyuda {
    width: 80vw; }
    .subtAyuda ul li {
      list-style: none; }
  .question {
    font-size: 3em; }
  .textP2 {
    font-size: 2.5em; }
  .contactForm form {
    font-size: 2.5em; }
  .contactForm form input, .contactForm form textarea {
    font-size: 1.5em; }
  .contactInfo {
    font-size: 3em; }
  .map {
    width: 100%;
    height: 20vh;
    margin: 1em 0; } }

@media screen and (min-width: 780px) {
  /*Empieza index*/
  #desktop {
    display: grid;
    grid-template-areas: "desk2 desk1";
    grid-column-gap: 8%; }
  .desk1 {
    grid-area: desk1; }
  .desk2 {
    grid-area: desk2; }
  #nav ul li a {
    font-size: 2rem;
    margin-right: 1rem; }
  #nav ul li a:hover {
    color: #FFCE6F; }
  #nav ul li:hover ul {
    background-color: black; }
  .indexImg {
    width: 90%;
    margin: 3em 0 3em 8em;
    border-radius: 1.6em;
    box-shadow: 0 0 2em 0 white; }
  .indexp1 {
    text-align: left;
    margin: 1.5em 8em 3em 0; }
  .imgDesk {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 3em auto;
    border-radius: 1em; }
  .mobileNone {
    display: block;
    /*Permite que no se muestre en mobile*/ }
  .none {
    display: none;
    /*Permite que no se muestre en Desktop*/ }
  .nosotros {
    color: #670d0f;
    font-size: 5em;
    font-weight: 600;
    margin-top: 0; }
  .footerH2 {
    margin-top: 0;
    font-size: 3em; }
  footer img {
    width: 5em; }
  /*Empieza productos*/
  #contenedorProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: auto auto;
    grid-column-gap: 2em; }
  .productos {
    overflow-y: scroll;
    height: 80vh;
    background-color: #FFE3C9; }
  .producto2 {
    color: #FFE3C9;
    text-align: center;
    margin-top: 1em;
    font-family: "DejaVu Sans"; }
  .productosH1 {
    font-size: 4em; }
  .contenedores {
    width: 100%;
    margin: 3em;
    padding: auto; }
  .btnDel {
    width: 50%;
    margin: 0.5em 1em;
    font-size: 1.6em;
    font-family: "DejaVu Sans";
    border: none;
    outline: 0;
    color: antiquewhite;
    background-color: #670d0f;
    overflow-x: hidden; }
  #finalizar {
    width: 50%;
    margin: 2em 6em;
    font-size: 1.6em;
    font-family: "DejaVu Sans";
    border: none;
    outline: 0;
    color: black;
    background-color: antiquewhite; }
  .bgl {
    background-color: #670d0f; }
  .button {
    width: 60%;
    margin: 1em 0;
    padding: 0.8em;
    font-size: 1.5em;
    background-color: #670d0f;
    color: antiquewhite;
    outline: 0;
    font-family: "DejaVu Sans"; }
  #bg {
    height: 2em;
    width: 2em; }
  .producImg {
    width: 18vw;
    border-radius: 0.5em; }
  .subProc {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: black;
    margin: 0.5em 0.5em 0.5em 0; }
  .precProc {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: #F36444;
    margin: 0.5em 0.5em 0.5em 0; }
  .productosH2 {
    margin-top: 0;
    font-size: 3em; }
  /*Empieza tortas*/
  #contenedorTortas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; }
  .tortasH1 {
    font-size: 5em;
    font-weight: 600; }
  .tortasImg {
    width: 18vw;
    border-radius: 0.5em; }
  .subTor {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: black;
    margin: 0.5em 0.5em 0.5em; }
  .precTor {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: #F36444;
    margin: 0.5em 0.5em 0.5em; }
  .tortasH2 {
    margin-top: 0;
    font-size: 3em; }
  /*Magdalenas*/
  #contenedorMag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto; }
  .magH1, .ayudaH1 {
    font-size: 5em;
    font-weight: 600; }
  .magImg {
    width: 18vw;
    border-radius: 0.5em; }
  .subMag {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: black;
    margin: 0.5em 0.5em 0.5em; }
  .precMag {
    font-size: 2.5em;
    font-family: "DejaVu Sans";
    color: #F36444;
    margin: 0.5em 0.5em 0.5em; }
  .magdalenasH2 {
    margin-top: 0;
    font-size: 3em; }
  /*Contactanos*/
  .contactWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contactanos {
    text-transform: uppercase;
    font-size: 3rem; }
  .contenedor {
    width: 70%;
    margin: 50px auto;
    padding: 50px auto; }
  .contactWrapper {
    box-shadow: 0 0 2em 0 black; }
    .contactWrapper > * {
      padding: 2em; }
  .contactForm form {
    margin: 0;
    padding: 1em;
    font-size: 2em; }
    .contactForm form input, .contactForm form textarea {
      width: 85%;
      margin: 1em 0;
      padding: 0.8em 0.8em 0.8em 0;
      font-size: 1em; }
    .contactForm form button {
      width: 100%;
      margin: 1em 0;
      padding: 0.8em;
      font-size: 1em; }
      .contactForm form button:hover, .contactForm form button:focus {
        background: #FFCE6F;
        color: black;
        transition: background-color 1s ease-out;
        outline: 0; }
  .contactForm p {
    font-size: 1em; }
  .contactForm Form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .contactForm form .block {
    grid-column: 1/3; }
  .contactForm form button {
    font-size: 1em; }
  .contactInfo {
    font-size: 1em;
    padding: 1em; }
    .contactInfo h2 {
      text-align: center;
      font-size: 3em;
      text-align: center;
      margin-top: 2em; }
    .contactInfo ul {
      font-size: 2em;
      list-style: none;
      text-align: center;
      margin-bottom: 1em; }
  .contactanosH3 {
    margin-top: 0;
    font-size: 3em; }
  /*Ayuda*/
  .ayudaH1 {
    text-transform: uppercase;
    font-size: 4em; }
  .subtAyuda {
    width: 80%;
    height: auto;
    padding: 2em;
    margin: 1em auto;
    overflow-y: hidden; }
  .question {
    font-size: 3.7em; }
  .textP2 {
    font-size: 2.5em; }
  .ayudaH2 {
    margin-top: 0;
    font-size: 3em; } }
