footer{
    background-color: rgb(103,13,15);
    text-align: center;
    margin-top: 1em;   
    
    img{ 
        width: 3em;
        margin: 1em 0;
    }
}
/*Index*/
.footerH2{
    margin-top: 0.6em;
    font-family: "DejaVu Sans";
    font-size: 2em;
    color: pink;
}
/*Promociones*/
.productosH2 {
    margin-top: 0.6em;
    font-family: "DejaVu Sans";
    font-size: 3em;
    color: pink;
}

/*Tortas*/
.tortasH2 {
    margin-top: 0.6em;
    font-family: "DejaVu Sans";
    font-size: 3em;
    color: pink;
  }

/*Magdalenas*/
.magdalenasH2 {
    margin-top: 0.6em;
    font-family: "DejaVu Sans";
    font-size: 3em;
    color: pink;
  }

  /*Contactos*/
  .contactanosH3 {
    margin-top: 0.6em;
    font-family: "DejaVu Sans";
    font-size: 3em;
    color: pink;
  }

  /*Ayuda*/
  .ayudaH2 {
    margin-top: 0.6em;
    font-family: "DejaVu Sans";
    font-size: 3em;
    color: pink;
  }