#contenedor{
    display: grid;
    grid-template-columns: 1fr;
}
.nosotros{
    margin-top: 1em;
    text-align: center;
    font-weight: 600;
    font-size: 3em ;
    font-family: $FontFp1;
    color: $magenta;
    
}
.indexp1{
    margin: 1em;
    text-align: center;
    font-size: 1.5em;
    font-family: $FontFp1;
    color: $negro;
}
.indexImg{
    width: 100vw;
    margin-top: 0.6em;
}
.indexImgIcon{
    width: 10vw;
}
.mobileNone{
   display: none;
}

.div1{
    text-align: center;
    margin: 1em 0;
    background-color: $Orange;
}
.indexP2{
    text-align: center;
    font-size: 1.8em;
    font-family:$fontFp2;
    color: $negro;
}

/*Productos css*/
#contenedorProductos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 0.5em;
    row-gap: 0.5em;

}
.productosH1{    
text-align: center;
font-size: 3em ;
font-family: $FontFp1;
font-weight: 600;
color: $magenta;
margin: 1em 0 ;

}
.encabezadoGif{
width: 98vw;
margin: 1em 0;
}
.producImg{
width: 47vw;
margin-left: 0.3em;
margin-right: 0.3em;
border-radius: 1em;
}
.subProc{
font-size: 1.8em;
font-family: $FontFp1;
color: $negro;   
margin: 0.2em 0 0.2em 0.8em;
}
.precProc{
font-size: 1.8em;
font-family: $FontFp1;
color: $orange;
margin: 0.5em 0 0.2em 3em;
}

/*Tortas css*/
#contenedorTortas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;

}
.tortasH1{    
text-align: center;
font-size: 3em ;
font-family: $FontFp1;
font-weight: 600;
color: $magenta;
margin: 1em 0 ;

}
.tortasImg{
width: 47vw;
margin-left: 0.3em;
margin-right: 0.3em;
border-radius: 1em;
}
.subTor{
font-size: 1.8em;
font-family: $FontFp1;
color: $negro;   
margin: 0.2em 0 0.2em 0.8em;
}
.precTor{
font-size: 1.8em;
font-family: $FontFp1;
color: $orange;
margin: 0.5em 0 0.2em 3em;
}

/*magdalenas css*/
#contenedorMag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
}
.magH1{    
text-align: center;
font-size: 3em ;
font-family: $FontFp1;
font-weight: 600;
color: $magenta;
margin: 1em 0 ;

}
.magImg{
width: 47vw;
margin-left: 0.3em;
margin-right: 0.3em;
border-radius: 1em;
}

.magdalenasH2{
font-family: $FontFp1;
font-size: 2em;
color: $pinky;    
}
.subMag{
font-size: 1.8em;
font-family: $FontFp1;
color: $negro;   
margin: 0.2em 0 0.2em 0.8em;
}
.precMag{
font-size: 1.8em;
font-family: $FontFp1;
color: $orange;
margin: 0.5em 0 0.2em 3em;
}

/*contactos css*/
#contenedorContac{
    display: grid;
    grid-template-columns: 1fr;
}
.contactanos{
        margin: 1em 0;
        text-transform: uppercase;
        text-align: center;
        color: $negro;
        font-family:$FontFp1;
        font-size: 3em; 
        font-weight: 600;
}

.contactWrapper > *{
    padding: 0.5em;
}
.contactForm{
    background-color:  $orange;
}
.contactForm form{
    font-family: $FontFp1;
    font-size: 2rem;
    color: $blanco;
}
.contactForm form{

    input,textarea{
        width: 95vw;
        margin: 0.8em 0;
        border: none;
        background: none;
        outline: 0;
        color: $blanco;
        border-bottom: 0.2em solid black ;
        font-size: 1em;
    }
    button{
    width: 95vw;
    margin: 0.8em 0;
    font-size: 1.5em;
    font-family:$FontFp1;
    background-color:$negro;
    border: none;
    outline: 0;
    color: $blanco;
    }
}
.contactInfo{
    font-size: 2rem;
    font-family: $FontFp1;
    color: $blanco;
    background-color: $negro ;

    h2{
        text-align: center;
        margin: 1em ;
    }
    ul{
        list-style: none;
        text-align: center;
        margin: 0.2em 0;
    }
}
.map{
    display: flex;
    justify-content: center;
}

#contenedorAyuda{
    display: grid;
    grid-template-columns: 1fr;
}
.ayudaH1{
    margin-top: 1em;
    text-align: center;
    font-size: 4em ;
    font-family: $FontFp1;
    font-weight: 600;
    color: $magenta; 
}
.subtAyuda{
    width: 80vw;
    
    ul li{
        list-style: none;
    }
}
.question{
    margin-top: 1em;
    font-family:$FontFp1;
    font-size: 2.5em;
    color: $orange;
    padding: 1em ;
    margin: 1em 0 ;
    text-align: left;  
    overflow-x: hidden;
    overflow-y: hidden;

}
.textP2{
    text-align: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;    
    font-family:$FontFp1;
    font-size: 2em;
    color: $negro ;
}