#nav{
    background-color: $bordon;
    
    ul li a{
        text-decoration: none;
        font-size: 2rem;
        color: pink;
        font-family: "DejaVu Sans";  
    }
        ul li{
            margin: 1em ;
    }
            & li:hover ul{
                background-color:black;
            }    
}