$bordon : rgb(103,13,15);
$Orange :#F36444;
$magenta :#F01945;
$negro : black ;
$pinky : pink ;
$blanco: white;
$contact: #FFCE6F;
$shadow:whitesmoke;
$FontFp1 :"DejaVu Sans";
$fontFp2 : Georgia, 'Times New Roman', Times, serif;