widest-line
wrap-ansi
wrappy
write-file-atomic
xdg-basedir
y18n
yallist
yargs
yargs-parser
.package-lock.json
.bin
@babel
@gar
@npmcli
@sindresorhus
@szmarczak
@tootallnate
@types
abbrev
agent-base
agentkeepalive
aggregate-error
ajv
ansi-align
ansi-regex
ansi-styles
anymatch
aproba
are-we-there-yet
arrify
asn1
assert-plus
async-foreach
asynckit
aws4
aws-sign2
balanced-match
bcrypt-pbkdf
binary-extensions
boxen
brace-expansion
braces
cacache
cacheable-request
camelcase
camelcase-keys
caseless
chalk
chokidar
chownr
ci-info
clean-stack
cli-boxes
cliui
clone-response
color-convert
color-name
color-support
combined-stream
concat-map
configstore
console-control-strings
core-util-is
cross-spawn
crypto-random-string
dashdash
debug
decamelize
decamelize-keys
decompress-response
deep-extend
defer-to-connect
delayed-stream
delegates
depd
dot-prop
duplexer3
ecc-jsbn
emoji-regex
encoding
end-of-stream
env-paths
err-code
error-ex
escalade
escape-goat
escape-string-regexp
extend
extsprintf
fast-deep-equal
fast-json-stable-stringify
fill-range
find-up
forever-agent
form-data
fs.realpath
fs-minipass
function-bind
gauge
gaze
get-caller-file
getpass
get-stdin
get-stream
glob
global-dirs
glob-parent
globule
got
graceful-fs
hard-rejection
har-schema
har-validator
has
has-flag
has-unicode
has-yarn
hosted-git-info
http-cache-semantics
http-proxy-agent
http-signature
https-proxy-agent
humanize-ms
iconv-lite
ignore-by-default
import-lazy
imurmurhash
indent-string
infer-owner
inflight
inherits
ini
ip
isarray
is-arrayish
is-binary-path
is-ci
is-core-module
isexe
is-extglob
is-fullwidth-code-point
is-glob
is-installed-globally
is-lambda
is-npm
is-number
is-obj
is-path-inside
is-plain-obj
isstream
is-typedarray
is-yarn-global
js-base64
jsbn
json-buffer
json-parse-even-better-errors
json-schema
json-schema-traverse
json-stringify-safe
jsprim
js-tokens
keyv
kind-of
latest-version
lines-and-columns
locate-path
lodash
lowercase-keys
lru-cache
make-dir
make-fetch-happen
map-obj
meow
mime-db
mime-types
mimic-response
minimatch
minimist
minimist-options
min-indent
minipass
minipass-collect
minipass-fetch
minipass-flush
minipass-pipeline
minipass-sized
minizlib
mkdirp
ms
nan
negotiator
node-gyp
nodemon
node-sass
nopt
normalize-package-data
normalize-path
normalize-url
npmlog
oauth-sign
object-assign
once
package-json
parse-json
path-exists
path-is-absolute
path-key
path-parse
p-cancelable
performance-now
picomatch
p-limit
p-locate
p-map
prepend-http
process-nextick-args
promise-inflight
promise-retry
psl
pstree.remy
p-try
pump
punycode
pupa
qs
quick-lru
rc
readable-stream
readdirp
read-pkg
read-pkg-up
redent
registry-auth-token
registry-url
request
require-directory
resolve
responselike
retry
rimraf
safe-buffer
safer-buffer
sass-graph
scss-tokenizer
semver
semver-diff
set-blocking
shebang-command
shebang-regex
signal-exit
smart-buffer
socks
socks-proxy-agent
source-map
spdx-correct
spdx-exceptions
spdx-expression-parse
spdx-license-ids
sshpk
ssri
stdout-stream
string_decoder
string-width
strip-ansi
strip-indent
strip-json-comments
supports-color
supports-preserve-symlinks-flag
tar
to-readable-stream
to-regex-range
touch
tough-cookie
trim-newlines
true-case-path
tunnel-agent
tweetnacl
typedarray-to-buffer
type-fest
undefsafe
unique-filename
unique-slug
unique-string
update-notifier
uri-js
url-parse-lax
util-deprecate
uuid
validate-npm-package-license
verror
which
wide-align