footer{
    background-color: map-get( $color, "NavFooter" );
    text-align: center;
    margin-top: 1em;   
    
    img{ 
        width: 12vw;
        margin: 1em 0;
        padding-right: 0.9em;
    }
  }
/*Index*/
.footerH2{
    padding-top: 0.5em;
    margin-top: 0.6em;
    color: map-get( $color, "pinky");
    font-family: $FontFp1;
    font-size: 3em;
    }
    
/*Promociones*/
.productosH2 {
    padding-top: 0.5em;
    margin-top: 0.6em;
    color: map-get( $color, "pinky");
    font-family: $FontFp1;
    font-size: 3em;
  }

/*Tortas*/
.tortasH2 {
    padding-top: 0.5em;
    margin-top: 0.6em;
    color: map-get( $color, "pinky");
    font-family: $FontFp1;
    font-size: 3em;
  }

/*Magdalenas*/
.magdalenasH2 {
    padding-top: 0.5em;
    margin-top: 0.6em;
    color: map-get( $color, "pinky");
    font-family: $FontFp1;
    font-size: 3em;
  }

  /*Contactos*/
  .contactanosH3 {
    padding-top: 0.5em;
    margin-top: 0.6em;
    color: map-get( $color, "pinky");
    font-family: $FontFp1;
    font-size: 3em;
  }

  /*Ayuda*/
  .ayudaH2 {
    padding-top: 0.5em;
    margin-top: 0.6em;
    color: map-get( $color, "pinky");
    font-family: $FontFp1;
    font-size: 3em;
  }