#nav{
    background-color: map-get( $color, "NavFooter") ;
    
    ul li a{
        text-decoration: none;
        font-size: 3em;
        color: map-get( $color, "pinky") ;
        font-family: $FontFp1;  
    }
        ul li{
            margin: 1em ;               
        }
            & li ul a{
                font-size: 2em;

            }   
                & li:hover ul{
                    background-color: map-get( $color, "negro") ;
            }            
}
