#contenedorAyuda{
    display: grid;
    grid-template-columns: 1fr;
    }
.ayudaH1{
       @extend .magH1;
       color: "titulo"  ;
    }
.subtAyuda{
        width: 80vw;
        
        ul li{
            list-style: none;
        }
    }
.question{
        font: {
            family:$FontFp1;
            size: 2.5em;
        }
        margin-top: 1em;
        color: $Orange;
        padding: 1em ;
        margin: 1em 0 ;
        text-align: left;  
        overflow: {
            x: hidden;
            y: hidden;
        }

    }
.textP2{
        text-align: none;
        margin: 1em 0 1em 1em;    
        color: $negro ;
        font: {
            family:$FontFp1;
            font-size: 2em;
            }
    }