#contenedorAyuda{
    display: grid;
    grid-template-columns: 1fr;
}
.ayudaH1{
    margin-top: 1em;
    text-align: center;
    font-size: 4em ;
    font-family: $FontFp1;
    font-weight: 600;
    color: $magenta; 
}
.subtAyuda{
    width: 80vw;
    
    ul li{
        list-style: none;
    }
}
.question{
    margin-top: 1em;
    font-family:$FontFp1;
    font-size: 2.5em;
    color: $Orange;
    padding: 1em ;
    margin: 1em 0 ;
    text-align: left;  
    overflow-x: hidden;
    overflow-y: hidden;

}
.textP2{
    text-align: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;    
    font-family:$FontFp1;
    font-size: 2em;
    color: $negro ;
}