#contenedor{
    display: grid;
    grid-template-columns: 1fr;
    }
.nosotros{
        margin-top: 1em;
        text-align: center;
        color: map-get( $color, "magenta");
        font-weight: 600;
        font-size: 4em ;
        font-family: $FontFp1;
    }
.indexp1{
        margin: 1em;
        color: map-get( $color, "negro");
        text-align: center;
        font-size: 2em;
        font-family: $FontFp1;
        
    }
.indexImg{
    width: 100%;
    margin-top: 0.6em;
    }
.indexImgIcon{
    width: 10vw;
    }
.mobileNone{
   display: none;
    }

.div1{
    text-align: center;
    margin: 1em 0;
    background-color: map-get( $color, "Orange");
    }
.indexP2{
        color: map-get( $color, "negro");
        text-align: center;
        font-size: 2em;
        font-family:$fontFp2;
    }