/*magdalenas css*/
#contenedorMag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
}
.magH1{    
    text-align: center;
    color: $magenta;
    margin: 1em 0 ;
    font: {
        size: 4em ;
        family: $FontFp1;
        weight: 600;
    }
    
}

.magImg{
    @include organizador( 47vw , 0 0.3em , 0.5em);
}
.subMag{
    @include subTitulos( 1.8em , $FontFp1 , $negro , 0.2em 0 0.2em 0.8em );
}
.precMag{
    @include precios( 1.8em , $FontFp1 , $Orange , 0.5em 0 0.2em 3em );
}