/*magdalenas css*/
#contenedorMag{
    display: grid;
    grid-template-columns: 1fr;
    
    figure{
        justify-self: center;
        align-self: center;
        @include neo (12px,  map-get($color , "blanco") )

    }
   
}

.magH1{    
    text-align: center;
    color: map-get( $color, "NavFooter");
    margin: 1em 0 ;
    font-size: 5em ;
    font-family: $FontFp1;
    font-weight: 600;      
    }

.magImg{
    @include organizador( 80vw , 0.5em);
    }
.subMag{
    @include subTitulos( 3em , $FontFp1 , map-get( $color, "negro") , 0.5em 0 0.5em 0.5em );
    }
.precMag{
    @include precios( 3em , $FontFp1 , map-get( $color, "Orange") , 0.5em 0 0.5em 0.5em);
    }