/*Productos css*/
#contenedorProductos{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 0.5em;
    row-gap: 0.5em;

}
.productosH1{    
        text-align: center;
        color: $magenta;
        margin: 1em 0 ;
        font: {
            size: 3em ;
            family: $FontFp1;
            weight: 600;
        }
    }
.encabezadoGif{
    width: 98vw;
    margin: 1em 0;
    }
.producImg{
    @include organizador( 47vw , 0 0.3em , 0.5em );
    }
.subProc{
    @include subTitulos( 1.8em , $FontFp1 , $negro , 0.2em 0 0.2em 0.8em );
    }
.precProc{
    @include precios( 1.8em , $FontFp1 , $Orange , 0.5em 0 0.2em 3em );
    }