/*Productos css*/
#contenedorProductos{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0.5em;
        row-gap: 0.5em;

        figure{
            justify-self: center;
            align-self: center;
            background-color: map-get( $color, "blanco");
            border-radius: 2em;
        }
    }

.productosH1{    
        text-align: center;
        color: map-get( $color, "NavFooter");
        margin: 1em 0 ;
        font-size: 4em ;
        font-family: $FontFp1;
        font-weight: 600;
    }

.encabezadoGif{
    width: 98vw;
    margin: 1em 0;
    }

.producImg{
     @include organizador( 80vw , 0.5em);
    }

.subProc{
    @include subTitulos( 3em , $FontFp1 , map-get( $color, "negro") , 0.5em 0 0.5em 0);
    }
    
.precProc{
    @include precios( 3em , $FontFp1 , map-get( $color, "magenta") , 0.5em 0 0.5em 0 );
    }