/*Tortas css*/
#contenedorTortas{
    display: grid;
    grid-template-columns: 1fr ;
}

.tortasH1{    
        text-align: center;
        color: $magenta;
        margin: 1em 0 ;
        font-size: 3em ;
        font-family: $FontFp1;
        font-weight: 600;
        }

.tortasImg{
        @include organizador( 80vw , flex , center , 0.5em);
    }
.subTor{
        @include subTitulos( 3em , $FontFp1 , $negro , 0.2em 0 0.2em 0.8em );
    }
.precTor{
        @include precios( 3em , $FontFp1 , $Orange , 0.2em 0 0.2em 3em );
    }