/*Tortas css*/
#contenedorTortas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;

}
.tortasH1{    
        text-align: center;
        color: $magenta;
        margin: 1em 0 ;
        font: {
            size: 3em ;
            family: $FontFp1;
            weight: 600;
        }

    }
.tortasImg{
        @include organizador( 47vw , 0 0.3em , 0.5em);
    }
.subTor{
        @include subTitulos( 1.8em , $FontFp1 , $negro , 0.2em 0 0.2em 0.8em );
    }
.precTor{
        @include precios( 1.8em , $FontFp1 , $Orange , 0.5em 0 0.2em 3em );
    }